footer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    /* height: 100px; */
    font-size: var(--font-tiny);
    color: #333;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.running-road {
    width: 100%;
    overflow: hidden;
}

.running {
    position: relative;
    right: calc(-50% - 160px);
    animation: moveRight 6s linear infinite;
    width: 80px;
    z-index: 1000;
}

@keyframes moveRight {
    from {
        right: calc(-50% - 160px);
    }

    to {
        right: calc(50% + 160px);
    }
}

@media screen and (min-width: 1921px) {
    footer {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .running {
        width: 110px;
    }

    @keyframes moveRight {
        from {
            right: calc(-50% - 220px);
        }

        to {
            right: calc(50% + 220px);
        }
    }
}

#running-cat-horz {
    cursor: pointer;
}

#running-cat-horz.disabled {
    pointer-events: none;
}

.flowing-cat {
    position: fixed;
    bottom: 0px;
    left: 100vw;
    height: 100%;
    width: auto;
    animation: move-cat 4s linear forwards;
    z-index: 1000;
}

@keyframes move-cat {
    from {
        left: 100vw;
    }

    to {
        left: calc(-1980 * (100vh / 1080));
    }
}