.to-pagetop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 16px;
    background-color: #333;
    color: #fff;
    opacity: 0;
    transition: opacity 400ms ease;
    cursor: pointer;
    font-size: 16px;
    transition: 400ms;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    border-radius: 50%;
    z-index: 9999;
}

.to-pagetop:hover {
    transform: rotate(450deg) scale(1.2, 1.2);
}

.to-pagetop.is-shown {
    opacity: 1;
}

#scroll-image {
    position: fixed;
    width: 50px;
    right: 0;
    z-index: 1000;
    transition: none;
    display: none;
}

@media screen and (max-width: 480px) {
    .to-pagetop.is-shown {
        display: none;
    }

    #scroll-image {
        display: none;
    }
}