* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font */
body {
    font-family: "Lato", sans-serif;
    --font-large: 60px;
    --font-middle: 32px;
    --font-small: 28px;
    --font-tiny: 24px;
    --section-space-top: 100px;
    --section-space-bottom: 50px;
}

@media screen and (max-width: 1920px) {
    body {
        --font-large: 40px;
        --font-middle: 24px;
        --font-small: 18px;
        --font-tiny: 14px;
        --section-space-top: 70px;
        --section-space-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    body {
        --font-large: 30px;
        --font-middle: 20px;
        --font-small: 16px;
        --font-tiny: 12px;
        --section-space-top: 50px;
        --section-space-bottom: 20px;
    }
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f8f6e2;
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f8f6e2;
    z-index: 1;
}

body {
    font-size: var(--font-tiny);
    color: #333;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: #f8f6e2;
}

.sec-title {
    font-size: var(--font-large);
    width: 100%;
    margin-top: var(--section-space-top);
    margin-bottom: var(--section-space-bottom);
    color: #665F52;
    justify-content: center;
    display: flex;
}

.ja {
    display: none;
}

.en {
    display: none;
}

aside {
    display: none;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--section-space-bottom);
}

@media screen and (min-width: 1024px) {

    header {
        position: sticky;
        position: -webkit-sticky;
        top: 10px;
        height: 50px;
    }

    main {
        width: calc(100% - 360px);
    }

    aside {
        font-size: var(--font-small);
        display: flex;
        align-items: flex-start;
        position: sticky;
        position: -webkit-sticky;
        top: 70px;
        height: fit-content;
        width: 180px;
        color: #333;
        line-height: 1.7;

        ul {
            padding-left: 10px;
        }

        li {
            list-style: none;
        }

        a {
            color: #333;
        }
    }
}

@media screen and (min-width: 1921px) {

    header {
        position: sticky;
        position: -webkit-sticky;
        top: 10px;
        height: 65px;
    }

    main {
        width: calc(100% - 500px);
    }

    aside {
        width: 250px;
        position: sticky;
        position: -webkit-sticky;
        top: 85px;
    }
}

aside .active {
    font-weight: 900;
    background-color: #FCE9C9;
}