* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "tsumugi";
    src: url("../font/tsumugi_font/tsumugi.otf") format("opentype");
    font-display: swap;
}

/* font */

body {
    font-family: "Lato", sans-serif;
    --font-large: 60px;
    --font-middle: 28px;
    --font-small: 24px;
    --font-tiny: 20px;
    --section-space-top: 100px;
    --section-space-bottom: 50px;
}

@media screen and (max-width: 1500px) {
    body {
        --font-large: 40px;
        --font-middle: 24px;
        --font-small: 18px;
        --font-tiny: 14px;
        --section-space-top: 70px;
        --section-space-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    body {
        --font-large: 30px;
        --font-middle: 20px;
        --font-small: 16px;
        --font-tiny: 12px;
        --section-space-top: 50px;
        --section-space-bottom: 30px;
    }
}

.section {
    font-family: "tsumugi", "Lato", sans-serif;
}

body {
    font-size: var(--font-tiny);
    color: #333;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f8f6e2;
}

.section {
    font-size: var(--font-large);
    width: 100%;
    margin-top: var(--section-space-top);
    margin-bottom: var(--section-space-bottom);
    color: #665F52;
    justify-content: center;
}

.ja {
    display: none;
}

.en {
    display: none;
}