.links {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: calc(var(--font-small) + 2px);
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 180px;
    border-radius: 10px;
    border-color: #665F52;
    border-width: 4px;
    color: #333;
    background-color: #fdf4d5;
    cursor: pointer;
    transition: 400ms;
}

@media screen and (min-width: 1501px) {
    .cards .card {
        height: 120px;
        width: 220px;
    }
}

.cards .card p {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cards .card p.tip {
    font-size: calc(var(--font-small) + 2px);
    font-weight: 600;
}

.github_logo {
    width: auto;
    height: calc(var(--font-small) + 6px);
    margin-right: 5px;
}

.riken_logo {
    width: auto;
    height: 60px;
}

.riken_logo2 {
    width: auto;
    height: 50px;
}

.cards .card p.second-text {
    margin-top: 6px;
    font-size: var(--font-small);
    font-weight: 600;
}

.cards .card:hover {
    transform: scale(1.2, 1.2);
    background-color: #FCE9C9;
}

.cards:hover>.card:not(:hover) {
    transform: scale(0.9, 0.9);
}