.logo-left {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 40px;
    display: flex;
    align-items: flex-start;
}

.logo-left a {
    margin-right: 10px;
}

.logo-left img {
    height: 40px;
    width: auto;
    vertical-align: top;
    display: flex;
    align-self: flex-start;
}

@media screen and (min-width: 1200px) {
    .logo-left {
        position: fixed;
    }
}

@media screen and (min-width: 1921px) {
    .logo-left {
        left: 14px;
        top: 14px;
        height: 55px;
    }

    .logo-left img {
        height: 55px;
    }
}