.profile {
    width: 90%;
    display: flex;
    font-size: var(--font-small);
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #333;
    line-height: 1.4;
}

.profile table {
    table-layout: auto;
    word-break: break-all;
    word-wrap: break-all;
    border-collapse: collapse;
}

.profile table,
.profile table td,
.profile table th {
    border-bottom: 1.5px solid #CCBDA3;
}

.profile table tr td {
    text-align: left;
    padding-top: 14px;
}

.profile table tr:hover {
    background-color: #FCE9C9;
}

.midtab {
    width: 40px;
}

.profile table tr td:first-child {
    white-space: nowrap;
    vertical-align: top;
}

@media screen and (max-width: 959px) {
    .midtab {
        width: 12px;
    }
}