.profile {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #333;
    line-height: 1.4;
}

#sec-title-Profile {
    display: none;
}

.bio {
    width: 100%;
    max-width: 300mm;
    /* text-align: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #333;
    background: #fdf4d5;
    border-left: solid 10px #665F52; */
    position: relative;
    margin: 2em 0;
    padding: 1em 1em;
    border: solid 3px #665F52;
    border-radius: 8px;
}

.bio .box-title {
    position: absolute;
    display: inline-block;
    top: -14px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: var(--font-middle);
    background: #f8f6e2;
    color: #665F52;
    font-weight: bold;
}

.bio p {
    margin: 0;
    padding: 0;
    text-align: left;
}

@media screen and (min-width: 1024px) {
    .profile {
        width: 100%;
    }

    .profile-hide1024 {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    #sec-title-Profile {
        font-family: sushiki, sans-serif;
        font-weight: 500;
        font-size: var(--font-large);
        width: 100%;
        margin-bottom: var(--font-large);
        color: #665F52;
        justify-content: center;
        display: flex;
    }
}

.profile table {
    table-layout: auto;
    word-break: break-all;
    word-wrap: break-all;
    border-collapse: collapse;
}

.profile table,
.profile table td,
.profile table th {
    border-bottom: 1px solid #CCBDA3;
}

.profile-multirow {
    white-space: normal;
}

.profile-multirow p {
    margin-right: 10px;
}

.profile-multirow p span {
    display: inline-block;
}

.profile-multirow span {
    display: inline-block;
}

.profile table tr td {
    text-align: left;
    padding-top: 12px;
}

.profile table tr:hover {
    background-color: #FCE9C9;
}

.midtab {
    width: 30px;
}

.profile table tr td:first-child {
    white-space: nowrap;
    vertical-align: top;
}

@media screen and (max-width: 640px) {
    .midtab {
        width: 12px;
    }
}