.repository {
    width: 95%;
    max-width: 800px;
    display: flex;
    gap: 20px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.repository2 {
    width: 250px;
    height: 250px;
    background-color: #FCE9C9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    position: relative;
    border: solid;
    border-width: 5px;
    border-color: #665F52;
}

.repository2:hover {
    .repolink {
        transform: scale(1.2, 1.2);
    }
}

.repository2 .title {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #575044;
    height: 25%;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.repository2 .vspace {
    width: 100%;
    height: 10px;
}

.repository2 .text {
    font-size: 16px;
    font-weight: 400;
    height: 70%;
    width: 85%;
    text-align: left;
}

.repository2 .textlink {
    color: #575044;
}

.repository2 .repolink {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 10px;
    width: 35px;
    transition: all .4s;
}

.repository2 img {
    width: 100%;
    cursor: pointer;
}