.repository {
    width: 90%;
    display: flex;
    gap: 30px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
}

.repository2 {
    width: 220px;
    max-width: 100%;
    height: 240px;
    background-color: #fdf4d5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    position: relative;
    border: solid;
    border-width: 5px;
    border-color: #665F52;
}

@media screen and (min-width: 1921px) {
    .repository2 {
        width: 300px;
        height: 300px;
    }
}

.repository2:hover {
    .repolink {
        transform: scale(1.2, 1.2);
    }
}

.repository2 .repotitle {
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: var(--font-middle);
    font-weight: 700;
    height: 25%;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.repository2 .repotitle a {
    font-size: var(--font-middle);
    font-weight: 700;
    color: #333;
}

.repository2 .vspace {
    width: 100%;
    height: 10px;
}

.repository2 .text {
    font-size: var(--font-small);
    font-weight: 400;
    height: 70%;
    width: 85%;
    text-align: left;
}

.repository2 .textlink {
    color: #575044;
}

.repository2 .repolink {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 10px;
    width: 35px;
    transition: all .4s;
}

.repository2 img {
    width: 100%;
    cursor: pointer;
}