/*----------*/
/* timeline */
/*----------*/
.timeline {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    align-items: center;
}


@media screen and (min-width: 1024px) {
    .timeline {
        width: 100%;
    }
}

.container {
    width: fit-content;
    position: relative;
}

/* vertical line */
.container:after {
    content: "";
    width: 2px;
    border-left: 2px solid #CCBDA3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 140px;
}

.container dl {
    max-width: 1600px;
    overflow: hidden;
    border-radius: 10px;
    text-align: left;
}

/* text box color */
.container dl:hover {
    background-color: #FCE9C9;
}

/* year box */
.container dt span {
    width: 100px;
    height: 40px;
    font-size: var(--font-middle);
    background: #665F52;
    line-height: 40px;
    text-align: center;
    position: relative;
    float: left;
    color: white;
    border-radius: 10px 0 0 10px;
    font-family: "tsumugi", "Lato", sans-serif;
}

/* year triangle */
.container dt span:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #665F52;
    position: absolute;
    top: 0;
    left: 100%;
}

.container dd {
    margin-left: 140px;
    position: relative;
    padding-top: 8px;
    padding-left: 32px;
    padding-bottom: 32px;
}

/* dot */
.container dd:before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #665F52;
    position: absolute;
    left: -7px;
    top: 12px;
    z-index: 5;
}

/* year (right) */
.container dd h3 {
    font-size: var(--font-middle);
    line-height: 1;
    margin-bottom: 5px;
    font-family: "tsumugi", "Lato", sans-serif;
    color: #665F52;
}

.container dd ul li {
    margin-left: 24px;
    line-height: 1.5;
    list-style: circle;
    font-size: var(--font-small);
}

.container dd .space {
    height: 20px;
}

@media screen and (max-width: 640px) {
    .container:after {
        border-left: 0px;
    }

    .container dt span {
        display: none;
    }

    .container dd {
        margin-left: 0%;
        padding-left: 0px;
        background: none;
    }

    .container dd:before {
        display: none;
    }
}