.title {
    font-size: var(--font-large);
    font-weight: 800;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.title-left {
    width: 40%;
    margin-left: 6%;
    margin-right: 4%;
    text-align: right;
    align-content: center;
}

.title-right {
    width: 40%;
    margin-left: 2%;
    margin-right: 8%;
    display: flex;
    text-align: left;
    align-items: center;
}

.title-left img {
    width: 80%;
    min-width: 140px;
    max-width: 250px;
    padding: 4px;
    background-color: #E6D5B8;
    border: solid;
    border-radius: 10px;
    border-color: #665F52;
    border-width: 4px;
}